* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body h1{
  text-align: center;
  margin: 7px 0px 5px 0px;
}

main.page1 {
  width: 89vw;
  display: grid;
  padding-top: 1.3rem;
  min-height: calc(98vh - (2rem + 12rem));
  max-width: var(--max-width);
  margin: 0 auto;

}
.image-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.image-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.image-card img {
  max-width: 100%;
  height: auto;
}

.caption {
  margin-top: 10px;
}
.col-50 {
    float: left;
    width: 48%;
    padding: 10px;
}
.col-100{
  float: left;
  justify-content: normal;
  display: flex;
  width: 100%;
  padding: 10px;
}
.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 90vh;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.caption{
  margin-top: 0.6rem;
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
}

.btn-delhi {
  width: 79%;
  padding: 19px 4px;
  border-radius: 4px;
  margin-right: 2.3rem;
  outline: none;
  border: 1px solid rgb(159, 168, 180);
  background: #64a1ff57;
  box-shadow: 9px 18px 34px 9px #6b65bd54;
}

.btn-delhi a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
}
.btn-delhi:hover{
  width: 79%;
  padding: 19px 4px;
  border-radius: 4px;
  margin-right: 2.3rem;
  transition: 1s;
  border: 1px solid rgb(95, 99, 104);
  background: #2067c6;
  box-shadow: 9px 18px 34px 9px #6b65bda8;
}
.btn-delhi:hover a{
  color: #ffffff;
}

div.iconsTab {
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    display: flex;
    /* display: inline-flex; */
    align-items: center;
}

@media screen and (max-width:600px) {
    .col-50 {
        width: 100%;
    }

}
.Airpot{
  display: flex;
    justify-content: center;
    margin-top: 28px;
    cursor: pointer;

}
.navigationLink{
  
  display: flex;
  justify-content: space-between;
  padding: 0px 21px 0px 21px;

}

.page2{
    width: 90%;
    margin: auto;
}
.page2 h2 {
    text-align: center;
    font-size: 38px;
    text-shadow: 2px 2px 2px #d06b67;

}

@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

